<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
    <% if (user) { %>
        <h1>Welcome, <%= user.login %>!</h1>
        <h2>Name, <%= user.nome %>!</h2>
        <h2>Sector, <%= user.setor %>!</h2>
        <h2>Plant, <%= user.planta %>!</h2>
        <p>Authentication successful.</p>
    <% } else { %>
        <h1>Authentication Failed</h1>
        <p><%= error %></p>
    <% } %>
    <a href="/">Try again</a>
</body>
</html>
